<html ng-app="moreDirectivesApp">
    <head>
        <meta charset="utf-8">
        <script src="angular.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <h1> More directives </h1>
        <div ng-controller="moreDirectivesCtrl as ctrl">
            <p><input type="checkbox" ng-model="ctrl.checked"></p>
            <p ng-show="ctrl.checked">
                    This is a demo text
            </p>

            <div ng-repeat="obj in ctrl.myList" ng-show="ctrl.checked">
                <ul>
                    <li>Age : {{obj.age}}</li>
                    <li>Name : {{obj.name}}</li>
                </ul>
                
            </div>
        
        </div>
    </body>
</html>
